.main-page {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
  background: var(--page-bg);
  overflow: hidden;
  padding: 2rem;
}

.main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 820px;
  background-color: var(--page-bg-accent);
  opacity: 0.87;
  transform: rotate(-30deg);
  transform-origin: left bottom;
  z-index: 0;
}

.main-text {
  max-width: 600px;
  padding: 2rem;
  margin-top: 2rem;
}

.main-text h1 {
  font-family: Inter;
  white-space: nowrap;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1.8px;
  margin-bottom: 2rem;
  color: var(--main-text-color);
  position: relative;
  z-index: 1;
}

.main-text h1 .blueword {
  color: var(--highlight-color);
}

.main-text p {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.36px;
  color: var(--secondary-text-color);
  position: relative;
  z-index: 1;
  margin-bottom: 4rem;
}

.order-btn {
  width: 193px;
  height: 60px;
  padding: 0.8rem 2rem;
  background-color: var(--button-bg);
  color: white;
  border: none;
  font-family: Inter;
  font-weight: bold;
  font-size: 17px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}

.order-btn:hover {
  background-color: var(--button-hover-bg);
}

.star img {
  width: 110px;
  height: auto;
  position: relative;
  z-index: 1;
}

.reviews h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  color: var(--main-text-color);
}

.reviews h1 .hightlight {
  color: var(--highlight-color);
}

.main-img img {
  max-width: 600px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
