
.custom-list {
    list-style-type: disc; 
    padding-left: 20px; 
    margin-top: 10px;
    list-style: none;
  }
  
  .custom-item {
    font-size: 16px;
    text-align: left; 
    color: #4c84a0;
    margin-bottom: 5px; 
    padding-left: 5px;
    line-height: 1.4; 
  }

  .custom-item::before {
    content: "🔹"; 
    margin-right: 8px; 
  }
  
  